body{
}
.red{
    border: 1px solid crimson;
    border-top:none;
}

.wrapper{
    margin: 0 auto;
    padding: 0px;
}
.content{
    float:none;
    margin: 0 auto;
    padding: 10px;
}
header{
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    color: #555555;
}
header nav{
    height: 100px;
    background-color: #292929;
}
header .menu{
    float:none;
    font-size: 20px;
    margin: 0 auto;
}
header ul li{
    float: right;
    display: inline-block;
    list-style-type: none;
    border: 1px solid #1d1d1d;
    border-bottom: none;
    border-top: none;
}
header ul li:hover{
    border-bottom: 5px solid #58c93a;

}
header ul li a:hover{
    color: #58c93a;
    display: block;
    text-decoration: none;
}
header ul li a{
    padding: 35px 40px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}
/******************** FOOTER **************************/
footer{
    height: 200px;
    position: relative;
    bottom: 0px;
    background-color: #292929;
    color: #ffffff;
}
/************** CONTACT FORM ***************************/
h2{
    text-align: center;
    margin-bottom: 10px;
}
form{
    width: 100%;
    padding: 20px;
    font: oblique 17px Helvetica;
}
.custom, .custom tr, .custom tr th, .custom tr td{
    border: 1px solid transparent !important;
}
.custom tr{
    width: 100%;
    padding: 10px;
}
.custom tr th{
    width: 20%;
    text-align: right;
    padding: 10px;
}
.custom tr td{
    width: 80%;
    text-align: left;
}
form label{
    padding: 5px;
}
form .custom label,form .custom input, form .custom textarea{
    width: 100%;
    height: 30px;
}
form .custom textarea{
    height: 150px;
}
.custom .button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font: bold 18px Helvetica;
    background-color: #444444;
    color: #58c93a;
    border: 1px solid #292929;
    border-radius: 5px;
}
form .button:hover{
    background-color: #292929;
}
.cap_lb{
    padding: 0;
    height: 40px
}
.cap_lb img{
    width: 115px !important;
    height: 40px !important;
}

/****************** ALERTS***********/
div.msg{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 15px;
    font: normal 17px Arial;
    font-family: Consolas, "Liberation Mono", Courier, monospace
}
div.error{
    color: red;
}
div.success{
    color: #58c93a;
}
/************ EDIT POST ***********/
.new{
    text-align: left;
}
.new button{
    background-color: #444444;
    width: 150px;
    height: 45px;
    border-radius: 15px;
}
.new a{
    font: oblique 16px Helvetica;
    color: #58c93a;
    text-decoration: none;
    padding: 10px;
}
.edit, .contact{
    margin:0 auto;
}
.edit form img{
    width: 250px;
    height: auto;
}

/****************** SINGLE POST ******************/
hr{
    border-color: #58c93a;
}
.post{
    text-align: left;
    color: #00CC00;
}
.info i{
    padding: 5px;
}
.info {
    padding:10px;
    color: #737373;
    font-size: 15px;
}
p a{
    padding: 5px;
    text-decoration: none;
    color: #58c93a;
    font: bold 15px Helvetica;
}
p a:hover, .title a:hover{
    color: #00CC00;
    text-decoration: none;
}
p{
    text-align: justify;
}
.thumb{
    padding: 10px;
}
.title{
    padding: 10px 0;
}
.title a{
    color: #58c93a;
    text-decoration: none;
}
.share img{
    width: 150px;
    height: 40px;

}
.pagination{
    margin: 0 auto;
    text-align: center;
}
.pagination > a:active, .pagination > a:focus{
    background-color: #eee;
    border-color: #ddd;
}
.pagination a{
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
/************** LIST TABLE ***********************/

.table img{
    width: 25px;
    height: auto;
}
/************LOGIN ************/

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-style: normal;
}
.form-signin-heading{
    text-align: left;
}
.form-signin-heading,.checkbox {
    margin-bottom: 30px;
}
.checkbox {
    font-weight: normal;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}
input[type="checkbox"] {

    position: relative !important;
    margin-left: 0 !important;
}

input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"]{
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.signup input[type="text"], .signup input[type="email"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin button{
    margin-bottom: 15px;
}
.col-md-12 img{
    padding: 15px 0;
}
h3{
    text-align: center;
}
.user{
    color: #00CC00;
}